h1 {
position: fixed;
top: 0px;
background-color: whitesmoke;
color: black;
width: 100%;
height: 50px;
text-align: center;
top: 0px;
z-index: 10;
}

h2 {
    text-align: left;
    color: #4aaaa5;
 }

body {
    background-color: whitesmoke;
    font-style: italic;
}



.boxed {
    border: 1px solid black;
    background-color: white;
    text-align: center;
    color: black;
    padding: 10px;
    position: relative;
}

.position1 {
    position: absolute;
    width: 80%;
    padding-top: 10px;
    margin-top: 15px;
    margin-left: 10%;
    height: 400px;
}

.position2 {
    position: fixed;
    width: 100%;
    bottom: 0px;
    background-color: #4aaaa5;
    margin-left: auto;
    margin-right: auto; 
    


}

.position3 {
    position: fixed;
    width: 100%;
    bottom: 0px;
    padding: 4pt;
    background-color: black;
    z-index: 5;
    color: white;
}

.position4 {
    text-align: justify;
    padding: 10pt;
    margin-top: 25px;
    height: 320px;
    font-size: larger;
    width: 90%;
    margin-left: auto;
    /* left: 0; */
    margin-right: auto;
    border: hidden;
}

.profile {
    position: relative;
    margin-right: 15px;
    border: 2px solid #4aaaa5;

}

.paragraph {
    position: relative;
    align-content: right;

}

.links {
    padding-left: 10px;
    padding-top: 10px;
    margin-right: 100px;
}

.header {
    /* text-align: left; */
    /* vertical-align: middle; */
    position: absolute;
    background-color: #4aaaa5;
    height: 45px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 26px;
    font-style: oblique;
    /* border: 2px solid black; */
    margin-left: 100px;
    top: 0px;
}

.position5 {
    width: 250px;
    position: fixed;
    right: 45px;
    height: 200px;
    top: 75px;

}